{% extends "layout.html.j2" %}
{% block title %}Film Flock | Create{% endblock %}
{% block body %}
  <div class="min-vh-100 py-4">
    <div class="container">
      <h1>Create</h1>
      <form method="post">
        <div class="form-group">
          <label for="collectionName">Step 1 - Your Collection Name</label>
          <input class="form-control" type="text" placeholder='Example: "My top feel good movies..."' name="name" required value={{value}} >
        </div>
        <button type="submit" class="btn btn-primary">Create Collection</button>
      </form>
    </div>
  </div>

{% endblock %}
