{% extends "layout.html" %}
{% block title %}Film Flock | Create{% endblock %}
{% block body %}
  <div class="min-vh-100 py-4">
    <div class="container">
      <h1>Create</h1>
      <form>
        <div class="form-group">
          <label for="collectionName">Step 1 - Your Collection Name</label>
          <input class="form-control" type="text" placeholder='Example: "My top feel good movies..."' name="collectionName">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Step 2 - Add Movies to Collection</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Create Collection</button>
      </form>
    </div>
  </div>

{% endblock %}
